# 排除所有 GA 运行生成的中间文件
*.gapy

# 排除所有日志文件
*.log

# 如果你的日志在某个特定的文件夹里（例如叫 logs/），也可以这样写：
gapy_saves/

# 排除 Python 编译缓存（建议也加上）
__pycache__/
*.py[cod]

# 排除编译生成的库文件
build/
*.so
.DS_Store
*.argos
*.make
*.internal
*.txt
*.dylib